@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /*## Gradients*/

    --Light-slate-blue: hsl(252, 100%, 67%);
    /*(background)*/
    --Light-royal-blue: hsl(241, 81%, 54%);
    /*(background)*/

    --Violet-blue: hsla(256, 72%, 46%, 1);
    /*(circle)*/
    --Persian-blue: hsla(241, 72%, 46%, 0);
    /*(circle)*/



    /*### Neutral*/

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);


}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.imagen {
    height: 25px;
    width: 25px;

}

.text {
    font-family: "Hanken Grotesk", sans-serif;
    display: inline-block;
    color: var(--Dark-gray-blue);
}

.text0,
.text1,
.text2,
.text3 {
    display: inline-block;
}

.text0 {
    color: var(--Light-red);

}

.text1 {
    color: var(--Orangey-yellow);
}

.text2 {
    color: var(--Green-teal);
}

.text3 {
    color: var(--Cobalt-blue);
}



.images {
    margin-right: 10px;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.card {
    display: grid;
    grid-template-areas: "left-container right-container";

}

.left__card {
    background-color: var(--Light-slate-blue);
    grid-area: "left-container";

}

.right__card {
    grid-area: "right-container";
}

.circle {
    background-color: var(--Violet-blue);
    margin: 0 auto;
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}